@font-face {
    font-family: "notableregular";
    src: url("css/fonts/Notable-Regular") format("ttf");
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}



@media screen and (max-width: 480px) {
	header img{
		display: none;
	}
	
	#video{
		display: none;
	}
	
	#flexbody{
		display: flex;
		flex-direction: column;
	}
	
	#flexheader{
		width: 80%;
		display: flex;
		flex-direction: column;
		font-family: "notableregular", Arial, sans-serif;
		order: 0;
	}
	
	/*Ham menu*/
	#hamburger{
		display: none;
	}
	
	#burgericon{
		position: absolute;
		top: 35px;
		right: 45px;
		transform: scale(2);
	}
	
	ul{
		display: none;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px #000000 solid;
		border-top: 1px #000000 solid;
	}
	
	ul a:link{
		color:black;
		text-decoration: none;
	}
	
	ul a:visited{
		color:black;
		text-decoration: none;
	}
	
	ul a:hover{
		color:black;
		text-decoration: none;
	}
	
	ul a:active{
		color:black;
		text-decoration: none;
	}
	
	#hamburger:checked ~ ul{
		display: block;
	}
	/* einde Ham menu */
	
	#flexarticles{
		display: flex;
		flex-direction: column;
		order: 2;
	}
	
	#flexart1{
		order: 2;
	}
	
	#flexart2{
		order: 1;
	}
	
	#flexart3{
		order: 0;
	}
	
	#flexarticles img{
		width: 100%;
	}
	
	#flexaside{
		order: 1;
		flex-shrink: 0;
	}
	
	#flexfooter{
		display: flex;
		order: 3;
		border-top: 1px #000000 solid;
		align-items: center; 		
	}
	
	#flexfooter section{
		position: fixed;
		bottom: -14px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
	
	
	/*Now work with grid
	(hamburger menu is already done)
	*/
	
	#gridul{
		display: none;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px #000000 solid;
		border-top: 1px #000000 solid;
	}
	
	
	
	img{
		width: 100%
	}
	#gridcontainer{
		display: grid;
		grid-template-columns: 60%;
		grid-template-rows: ;
		padding: 5px;
	}
	#gridhead{
		grid-column-start: 1;
		grid-column-end: 1;
	}
	
	#gridnav{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	ul{
		grid-row-start: 2;
		grid-row-end: 3;
	}
	
	#gridmain{
		display: grid;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	#gridaside{
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#gridmain h1{
		grid-row-start: 0;
		grid-row-end: 1;
	}
	#grart6{
		display: none;
	}
	
	#grart5{
		grid-row-start: 1;
		grid-row-end: 2;
	}
	
	#grart4{
		display: none;
	}
	
	#grart3{
		grid-row-start: 2;
		grid-row-end: 3;
	}
	
	#grart2{
		grid-row-start: 3;
		grid-row-end: 4;
	}
	
	#grart1{
		grid-row-start: 4;
		grid-row-end: 5;
	}
	
	#gridfooter section{
		position: fixed;
		bottom: -14px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
	
	#gridfooter{
		grid-row-start: 10;
		grid-row-end: 11;
		grid-column-start: 1;
		grid-column-end: 3;
		border-top: 1px #000 solid;
	}
	
	
	
}


@media screen and (min-width: 481px) and (max-width: 1179px) {
	#hamburger{
		display: none;
	}
	#burgericon{
		display: none;
	}
	
	header img{
		width: 25%;
		height: auto;
	}
	
	#flexbody{
		display: flex;
		flex-direction: column;
	}
	
	#video{
		order: 1;
	}
	
	#flexheader{
		width: 80%;
		display: flex;
		flex-direction: column;
		font-family: "notableregular", Arial, sans-serif;
		order: 0;
	}
	
	ul{
		display: flex;
		padding-bottom: 5px;
		padding-top: 5px;
		border-top: 1px #000 solid;
		border-bottom: 1px #000 solid;
	}
	
	li{
		padding-right: 25px;
		padding-left: 5px;
	}
	
	ul a:link{
		color:black;
		text-decoration: none;
	}
	
	ul a:visited{
		color:black;
		text-decoration: none;
	}
	
	ul a:hover{
		color:black;
		text-decoration: none;
	}
	
	ul a:active{
		color:black;
		text-decoration: none;
	}
		
	#flexarticles{
		display: flex;
		flex-direction: column;
		order: 2;
	}
	
	#flexart1{
		order: 2;
	}
	#flexart2{
		order: 1;
	}
	#flexart3{
		order: 0;
	}
	
	#flexart1 footer{
		padding-left: 10%;
	}
	#flexart2 footer{
		padding-left: 10%;
	}
	#flexart3 footer{
		padding-left: 10%;
	}
	
	#flexarticles img{
		width: 25%;
		float: left;
	}
	
	.flexart {
		display: flex; 
		align-items: flex-end;
	}
	
	.flexartext{
		order: 1;
		width: 70%;
		float: right;
		padding-top: 20px;
		border-top: 1px #000 solid;
	}
	
	.flexartfoto img{
		order: 0;
		width: 20%;
		float: left;
	}
	
	
	
	#flexaside{
		order: 0;
		flex-shrink: 0;
	}
	
	#flexfooter{
		display: flex;
		order: 3;
		border-top: 1px #000000 solid;
		align-items: center; 		
	}
	
	#flexfooter section{
		position: fixed;
		bottom: -43px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
	
	
	/* now grid */
	img{
		width: 100%;
	}
	#gridcontainer{
		display: grid;
		grid-template-columns: 50%;
		grid-template-rows: ;
		padding: 5px;
	}
	#gridhead{
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#gridnav{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	li{
		padding-right: 50px;
		padding-left: 25px;
	}
	
	#gridmain{
		display: grid;
		grid-column-gap: 10px;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%;
	}
	#gridaside{
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#gridmain h1{
		grid-row-start: 0;
		grid-row-end: 1;
	}
	#grart6{
		grid-row-start: 9;
		grid-row-end: 11;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	
	#grart5{
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#grart4{
		display: none;
	}
	
	#grart3{
		grid-row-start: 5;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#grart2{
		grid-row-start: 3;
		grid-row-end: 6;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#grart1{
		grid-row-start: 3;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#gridaside{
		display: grid;
	}
	
	#gridfig1{
		grid-column-start: 1;
		grid-column-end: 2;
		width: 90%;
	}
	
	#gridfig2{
		grid-column-start: 2;
		grid-column-end: 3;
		width: 90%;
	}
	
	#gridfig3{
		display: none;
	}
	
	#gridfooter section{
		position: fixed;
		bottom: -39px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
	
	
	#gridfooter{
		width: 100%
		grid-row-start: 13;
		grid-row-end: 14;
		grid-column-start: 1;
		grid-column-end: 3;
		border-top: 1px #000 solid;
	}	
}


@media screen and (min-width: 1280px) {
	#flexheader img{
		width: 25%;
		height: auto;
	}
	
	#hamburger{
		display: none;
	}
	#burgericon{
		display: none;
	}
	
	#flexheader{
		width: 80%;
		display: flex;
		flex-direction: column;
		font-family: "notableregular", Arial, sans-serif;
		order: 0;
	}
	
	#flexnav ul{
		display: flex;
		padding-bottom: 5px;
		padding-top: 5px;
		border-top: 1px #000 solid;
		border-bottom: 1px #000 solid;
	}
	
	li{
		padding-right: 25px;
		padding-left: 5px;
	}
	
	ul a:link{
		color:black;
		text-decoration: none;
	}
	
	ul a:visited{
		color:black;
		text-decoration: none;
	}
	
	ul a:hover{
		color:black;
		text-decoration: none;
	}
	
	ul a:active{
		color:black;
		text-decoration: none;
	}
	
	#main{
		display: flex;
		align-items: stretch;
		border-top: 1px #000 solid;
	}
	
	.flexart {
		display: flex; 
	}
	
	.flexartext{
		order: 1;
		width: 70%;
		padding: 10px;
		float: left;
		border-top: 1px #000 solid;
	}
	
	.flexartfoto img{
		order: 0;
		width: 25%;
		float: left;
	}
	
	.flexcap{
		float: right;
	}
	.flexfoot{
		float: left;
		padding-right: 100%;
	}
	
	.flexol{
		padding-bottom: 15px;
	}
	
	
	
	#flexfooter section{
		position: fixed;
		bottom: -14px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
	
	/* en nu grid */
	#gridcontainer{
		display: grid;
		grid-template-columns: 33%;
		grid-template-rows: ;
		padding: 5px;
	}

	#gridhead{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
	#gridhead img{
		width: 25%;
		height: 25%;
	}
	
	#gridnav{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	#gridnav ul{
		display: grid;
		grid-template-columns: 33%;
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: 1px #000 solid;
		border-top: 1px #000 solid;
	}
	
	#grlink1{
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#grlink2{
		grid-column-start: 2;
		grid-column-end: 3;
	}
	#grlink3{
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#gridmain{
		display: grid;
		grid-template-columns: 33%;
		grid-column-gap: 10px;
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 4;
		width: 100%;
	}
	
	#gridmain h1{
		grid-row-start: 2;
		grid-row-end: 3;
	}
	#grart6{
		grid-row-start: 9;
		grid-row-end: 10;
		grid-column-start: 2;
		grid-column-end: 4;
	}
	
	#grart5{
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#grart4{
		grid-row-start: 6;
		grid-row-end: 10;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#grart3{
		grid-row-start: 3;
		grid-row-end: 6;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
	#grart2{
		grid-row-start: 3;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	
	#grart1{
		grid-row-start: 3;
		grid-row-end: 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	
	#gridaside{
		display: grid;
		grid-template-columns: 33%;
		grid-row-start: 10;
		grid-column-start: 1;
		grid-column-end: 4;
		width: 90%
	}
	
	#gridfig1 img{
		width: 100%;
	}
	#gridfig2 img{
		width: 45%;
	}
	#gridfig3 img{
		width: 200%;
	}
	
	#gridfig1{
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#gridfig2{
		grid-column-start: 2;
		grid-column-end: 3;
		align-self: center;
	}
	#gridfig3{
		grid-column-start: 3;
		grid-column-end: 4;
		align-self: center;
	}
	
	#gridfooter section{
		position: fixed;
		bottom: -41px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
	
	#gridfooter{
		grid-row-start: 11;
		grid-column-start: 1;
		grid-column-end: 4;
		border-top: 1px #000 solid;
	}
	
}

/*css code that makes the name & emailaddress boxes animated */
.custominput{
	position: relative;
	font-size: 14px;
	padding-top: 20px;
	left: 50px;
}

.custominput input{
	width: 100%;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #f2f2f2;
	padding: 12px;
	margin: 5px;
	transition: color 0.8s ease;
}

.custominput input:valid{
	background-color: #D5FCAD;
}

.placeholder{
	 position: absolute;
	 left: 12px;
	 top: 28px;
	 transform: translateY(-50%);
	 color: #aaa;
	 transition: all 0.5s ease;
 }
 
 .custominput input:valid + .placeholder,
 .custominput input:focus + .placeholder{
	 top: 10px;
	 font-size: 12px;
	 color: #222;
 }

/*and the css code for the message box*/
.messageinput{
	position: relative;
	font-size: 14px;
	height: 74px;
	padding-top: 20px;
	left: 50px;
}
.messageinput input{
	width: 100%;
	height: 88px;
	top: 0px;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #f2f2f2;
	padding: 12px;
	margin: 5px;
	transition: color 0.8s ease;
}

.messageinput input:valid{
	background-color: #D5FCAD;
}

.messageplaceholder{
	 position: absolute;
	 left: 12px;
	 top: 28px;
	 transform: translateY(-50%);
	 color: #aaa;
	 transition: all 0.5s ease;
 }
 .messageinput input:valid + .messageplaceholder,
 .messageinput input:focus + .messageplaceholder{
	 top: 10px;
	 font-size: 12px;
	 color: #222;
 }
 
 .submitbutton{
	 width:80px;
	 border: none;
	 position: absolute;
	 left: 90%;
	 top: 200px;
	 padding: 10px;
	 
	
 }





