@font-face {
    font-family: "notableregular";
    src: url("css/fonts/Notable-Regular") format("ttf");
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}



@media screen and (max-width: 480px) {
	header img{
		display: none;
	}
	
	#video{
		display: none;
	}
	
	#flexbody{
		display: flex;
		flex-direction: column;
	}
	
	#flexheader{
		width: 80%;
		display: flex;
		flex-direction: column;
		font-family: "notableregular", Arial, sans-serif;
		order: 0;
	}
	
	/*Ham menu*/
	#hamburger{
		display: none;
	}
	
	#burgericon{
		position: absolute;
		top: 35px;
		right: 45px;
		transform: scale(2);
	}
	
	ul{
		display: none;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px #000000 solid;
		border-top: 1px #000000 solid;
	}
	
	ul a:link{
		color:black;
		text-decoration: none;
	}
	
	ul a:visited{
		color:black;
		text-decoration: none;
	}
	
	ul a:hover{
		color:black;
		text-decoration: none;
	}
	
	ul a:active{
		color:black;
		text-decoration: none;
	}
	
	#hamburger:checked ~ ul{
		display: block;
	}
	/* einde Ham menu */
	
	#flexarticles{
		display: flex;
		flex-direction: column;
		order: 2;
	}
	
	#flexart1{
		order: 2;
	}
	
	#flexart2{
		order: 1;
	}
	
	#flexart3{
		order: 0;
	}
	
	#flexarticles img{
		width: 100%;
	}
	
	#flexaside{
		order: 1;
		flex-shrink: 0;
	}
	
	#flexfooter{
		display: flex;
		order: 3;
		border-top: 1px #000000 solid;
		align-items: center; 		
	}
	
	#flexfooter section{
		position: fixed;
		bottom: -14px;
		right: 0;
		width: 50%;
		height: 10%;
		padding-left: 5px;
		z-index: 9999;
		color: #fff;
		background-color: #FA0;
		opacity: 0.5;
	}
}


@media screen and (min-width: 481px) and (max-width: 1179px) {
	
}

@media screen and (min-width: 1280px) {
	
}






